.page {
	h1 {
		margin-bottom: 20px;
	}
	h2 {
		margin-bottom: 30px;
	}
}

.hero {
	&__body {
		padding: 25px 0 50px 0;
		display: flex;
	}
	&__about {
		align-self: center;
		width: 55%;
		p {
			margin-bottom: 60px;
			font-size: 20px;
		}
		a {
			margin-bottom: 20px;
		}
	}
	&__image-wrapper {
		width: 45%;
		padding-right: 30px;
		text-align: right;
	}
}

.about {
	&__body {
		padding: 60px 0;
		display: flex;
	}
	&__about {
		flex: 55%;
		width: 55%;
		p {
			margin-bottom: 20px;
			font-size: 16px;
		}
		a {
			margin-bottom: 20px;
		}
	}
	&__image-wrapper {
		flex: 45%;
	}
}

.about-content {
	height: 100%;
	display: grid;
	grid-template-rows: 1fr 50px;
	&__content {
		overflow: hidden;
		p:nth-of-type(1) {
			font-size: 20px;
		}
	}
	&__button {
		align-self: end;
	}
	&__btn {
		position: relative;
		display: inline-block;
		font-size: 16px;
		font-weight: 700;
		padding: 5px 25px 5px 0;
		&:after {
			content: "";
			position: absolute;
			height: 10px;
			width: 10px;
			right: 5px;
			top: 6px;
			border-left: 1px solid rgb(26, 17, 10);
			border-bottom: 1px solid rgb(26, 17, 10);
			transform: rotate(-45deg);
			transition: 0.3s;
		}
		&.active:after {
			top: 10px;
			transform: rotate(135deg);
		}
	}
}

.education {
	&__body {
		padding: 50px 0;
	}
}

.courses {
	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		column-gap: 20px;
		row-gap: 30px;
	}
	&__item {
		display: grid;
		grid-auto-flow: row;
		grid-template-rows: 40px 1fr;
	}
	&__years {
		font-family: "TenorSans", sans-serif;
		font-weight: 600;
		overflow: hidden;
		white-space: nowrap;
	}
}

.services {
	padding: 50px 0;
	&__body {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 30px;
	}
	&__family,
	&__coaching {
		position: relative;
		grid-template-rows: auto 1fr auto;
		display: grid;
		z-index: 1;
		&:after {
			border: 1px solid rgb(26, 17, 10);
			position: absolute;
			content: "";
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
		}
	}
}

.family,
.coaching {
	&__header {
		position: relative;
		padding: 40px 40px 30px 40px;
		&:after {
			position: absolute;
			content: "";
			top: -10px;
			right: 15px;
			bottom: 10px;
			left: -15px;
			background-color: rgb(222, 206, 191);
			z-index: -1;
		}
	}
	&__description {
		padding: 30px 40px;
		p:first-child {
			margin-bottom: 20px;
			font-weight: 600;
		}
		ul {
			margin: 0 0 20px 22px;
			li {
				list-style-type: disc;
				line-height: 150%;
			}
		}
	}
	&__button {
		padding: 30px 40px;
	}
}

.family {
	&__header {
	}
	&__description {
	}
	&__button {
	}
}

.coaching {
	&__header {
	}
	&__description {
	}
	&__button {
	}
}

.training {
	&__body {
		max-width: 600px;
		margin: 0 auto;
		padding: 70px 20px 50px 20px;
		text-align: center;
		& > p {
			padding-bottom: 20px;
		}
	}
	&__day {
		display: flex;
		justify-content: center;
		gap: 30px;
		margin-bottom: 20px;
		div {
			display: flex;
			align-items: center;
			gap: 10px;
		}
		svg {
			transition: 0.4s;
			fill: rgb(52, 28, 0);
		}
	}
}

.training .wrapper-social {
	display: flex;
	gap: 30px;
	align-items: center;
	justify-content: center;
}

.training .social {
	&__item {
		display: inline-block;
	}
	&__link {
		display: inline-block;
		width: 32px;
		height: 32px;
		svg {
			transition: 0.4s;
			fill: rgb(52, 28, 0);
		}
		svg:hover {
			fill: rgba(52, 28, 0, 0.5);
		}
	}
}

@media (max-width: 899px) {
	.hero {
		&__body {
			flex-direction: column-reverse;
			gap: 30px;
			& > div {
				width: 100%;
			}
		}
		&__image-wrapper {
			text-align: center;
		}
	}
	.about {
		&__body {
			flex-direction: column;
			gap: 30px;
			& > div {
				width: 100%;
			}
		}
		&__image-wrapper {
			text-align: center;
			padding-right: 30px;
		}
	}
	.about-content {
		&__content {
			max-height: 400px;
		}
	}
	.services {
		&__body {
			grid-template-columns: 1fr;
		}
	}
}

@media (max-width: 767px) {
}

@media (max-width: 479px) {
	.page {
		h1 {
			font-size: calc(32px + 16 * (100vw / 1280));
		}
		h2 {
			font-size: calc(20px + 16 * (100vw / 1280));
		}
	}

	.family,
	.coaching {
		&__header {
			padding: 30px 30px 20px 30px;
		}
		&__description {
			padding: 20px 30px;
		}
		&__button {
			padding: 30px;
		}
	}
}

@media (max-width: 380px) {
	.page {
		h1 {
			font-size: calc(32px + (38 + 38 * 0.7) * ((100vw - 380px) / 1280));
		}
		h2 {
			text-align: center;
		}
	}
}

@media (max-width: 320px) {
}
